Figs/*.tiff
Figs/*.bmp
graphs.pdf
*.aux
*.log
Figs/Old
Backup
.Rhistory
R/*.Rout
Figs/iWork.png
Figsver2
.RData
.Rhistory
R/fig1.RData
R/fig1.csv
R/fig3.RData
R/fig4.RData
R/fig6.R
R/fig6rev.csv
Figs/fig1a.png
Figs/fig1b.png
Figs/fig3a.png
Figs/fig3b.png
Figs/fig4a.png
Figs/fig4b.png
Figs/fig4c.png
Figs/fig5a.png
Figs/fig5b.png
Figs/fig5c.png
Figs/fig5d.png
Figs/fig5e.png
Figs/fig5f.png
Figs/fig6a.png
Figs/fig6b.png
Figs/fig6c.png
Figs/fig6d.png
Figs/fig8a.png
Figs/fig9a.png
Figs/fig9b.png
Figs/fig9c.png
Rver2
R/fig9.csv
Figs/fig6r_a.png
Figs/fig6r_b.png
Figs/fig6r_c.png
Figs/fig6r_d.png
topten.pdf
TopTenWorstGraphs
TopTenWorstGraphs.zip
more_on_graphs.pdf
more_on_graphs.tex
MoreFigs/
graphs_combined.pdf
